@import "tailwindcss";

.border-gryffindor,
.border-slytherin,
.border-ravenclaw,
.border-hufflepuff {
  border-width: 0.25rem;
  border-style: solid;
}

.border-gryffindor {
  border-color: #740001;
}

.border-slytherin {
  border-color: #1a472a;
}

.border-ravenclaw {
  border-color: #222f5b;
}

.border-hufflepuff {
  border-color: #ecb939;
}

.bg-gryffindor {
  background-color: #740001;
}

.bg-slytherin {
  background-color: #1a472a;
}

.bg-ravenclaw {
  background-color: #222f5b;
}

.bg-hufflepuff {
  background-color: #ecb939;
}